* {
  padding: 0;
  margin: 0;
  font-weight: 100;
}

html, body
{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #000;
  letter-spacing: 0.5px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

footer
{
  padding: 20px;
  text-align: center;
  border-top: 1px solid #ddd;
}

a, a:hover, a:focus, a:visited
{
  color: #000;
}

.logo {
  width: 100%;
  height: auto;
  max-width: 400px;
  max-height: 289px;
}

.page {
  min-height: 100vh;
}
